@charset "utf-8";
 .form1{
    margin:auto;
	width:300px;
	padding:8px;
	background-color:rgb(220,220,220);
  }
  .form2{
  	padding:35px;
	margin:auto;
	width:80%;
	background-color:rgb(220,220,220);
  }
  .text{
    margin:6px;
    padding:8px;	
	width:80%;
  }
  .radio{
     margin:none;
     padding:none;
  }
  .form3{
     margin:auto;
     width: 100%;
     padding: 5px;
     text-align: center;     
  }
  .form3 .inp{
      margin:6px;
      padding: 10px;
      width: 200px;
  }