@CHARSET "ISO-8859-1";

.left{
	  float: left; 
 }
.right{
	   float:right;
 }
 h1{
	margin:auto;
	width:200px;
	color:rgb(0,100,195); 
} 
.nav-list{
   background-color: rgb(0,100,195);
   overflow:hidden;
}
	
	.nav-list .rest{
	    cursor:pointer;
		text-decoration:none;
		padding:8px 26px;
		color:#ffffff;
		}
	.nav-list .rest:hover{
		background-color:#000000;
		}	
		
	.nav-list .wel{
	    display:inline-block;
	    padding: 8px 26px;
	    color:#ffffff;
	    cursor:default;
	}